@charset "UTF-8";
/* --IMPORT FONT----------------------- */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap");
/*----------ZEROING------------------- */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top; /* чтобы снизу не было отступа */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}

html,
body {
  height: 100vh;
  font-size: 18px;
  line-height: 150%;
}

body._lock {
  overflow: hidden;
}

._wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

._container {
  max-width: 1000px;
  margin: 0px auto;
}

body {
  background-color: #efe;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

._youtube__link {
  padding-left: 30px;
  background: url("../img/icons/youtube.svg") 0 0 no-repeat;
  background-position: left center;
  background-size: 24px;
}

._github-link {
  padding-left: 24px;
  background: url("../img/icons/github.svg") 0 0 no-repeat;
  background-position: left center;
  background-size: 24px;
}
._github-link:hover {
  opacity: 0.5;
}

._pulpit {
  background: url("../img/icons/pulpit.svg") 0 0 no-repeat;
  background-position: top center;
  background-size: 32px;
}

._popup-anchor {
  color: #009;
  cursor: pointer;
}

.popup {
  position: fixed;
  overflow: auto;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 80;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.popup._hidden {
  display: none;
}
.popup__body {
  padding: 30px;
  overflow: auto;
}
.popup__title {
  text-align: center;
  font-size: 24px;
  line-height: 150%;
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}
.popup__text {
  color: #9c9;
  font-size: 22px;
  line-height: 150%;
  text-align: center;
}

.header {
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #333;
  z-index: 70;
}
.header__container {
  width: 100%;
  padding: 5px 15px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  color: #fff;
  font-size: 22px;
  line-height: 40px;
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
  cursor: pointer;
}
.header__logo:hover {
  opacity: 0.85;
}
.header__icon {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: transform 0.4s;
  cursor: pointer;
}
.header__icon:hover {
  opacity: 0.85;
}
.header__icon._active {
  transform: rotate(0.25turn);
}
.header__icon span {
  width: 8px;
  height: 8px;
  background-color: #9c9;
  border-radius: 30%;
}

.dropdown {
  overflow: auto;
  background-color: #333;
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  transform-origin: top;
  transform: rotateX(90deg);
  transition: transform 0.4s;
  z-index: 60;
}
.dropdown._active {
  transform: rotateX(0);
}
.dropdown__body {
  padding: 0px 15px 15px;
}
.dropdown__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: auto;
}
.dropdown__list li {
  flex: 1 1 50%;
  margin-bottom: 15px;
  align-items: center;
  text-align: center;
}
@media (max-width: 810px) {
  .dropdown__list li {
    flex: 1 1 100%;
    margin-bottom: unset;
  }
}
.dropdown__link {
  color: #9c9;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  position: relative;
}
.dropdown__link::after {
  position: absolute;
  content: "";
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #9c9;
  transform: scaleX(0);
  transition: all 0.4s;
}
.dropdown__link:hover::after {
  transform: scaleX(1);
}

.footer {
  background-color: #333;
  height: 300px;
  position: relative;
}
@media (max-width: 810px) {
  .footer {
    height: 450px;
  }
}
.footer__container {
  padding: 0px 15px;
}
.footer__title {
  text-align: center;
  font-size: 18px;
  color: #9c9;
  margin: 20px 0px;
}
.footer__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.footer__list li {
  flex: 1 0 50%;
  text-align: center;
}
@media (max-width: 810px) {
  .footer__list li {
    flex: 1 0 100%;
  }
}
.footer__link {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
}
.footer__link:hover {
  opacity: 0.5;
}
.footer__copy {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #9c9;
}
.footer__me {
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

main {
  min-height: calc(100vh - 300px);
}

.main__container {
  padding: 0px 15px 40px;
}

.section {
  padding-top: 50px;
}

.section__title {
  margin-bottom: 15px;
  font-size: 22px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  background-color: #9c9;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.section__text {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}
.section__text h2 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 15px;
  text-align: center;
}
.section__text b {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}
.section__text p {
  margin-bottom: 15px;
}/*# sourceMappingURL=styles.css.map */