/*----------ZEROING------------------- */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top; /* чтобы снизу не было отступа */
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;   
}
html,
body {
    height: 100vh;
    font-size: 18px;
    line-height: 150%;
}
body._lock {
    overflow: hidden;
}